body {
  background-color: aliceblue;
}

.center {
  display: flex;
  justify-content: space-around;
  padding: 1%;
}

#root {
  display: flex;
  flex-wrap: wrap;

}

.card {
  flex: 1 1 calc(33% - 40px);
  margin: 20px;
}

.card-footer, footer {
  background-color: aqua;
}
